.info {
    padding-top: 25%;
    padding-bottom: 9%;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 80px;

        .newSpace,
        .community,
        .blog,
        .getInTouch {
            width: 45%;
        }
    }
}

.infoHeading {
    display: flex;
    align-items: center;
    position: relative;
}

.headingIcon i {
    font-size: 45px;
    border-radius: 50%;
    background-color: $aqua;
    padding: 10px;
    position: absolute;
    left: -80px;
    top: 20px;
}

@media(max-width:768px) {

    .info .wrapper {
        padding-left: 0;
    }

    .infoHeading {
        justify-content: center;
    }
    
    .headingIcon {
        padding-right: 10px;

        i {
            position: static;
        }
    }

    .blog h3 {
        padding-right: 45px;
    }
}